@{
    ViewBag.Title = "About Us";
    // Layout = null;
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>



    <p>Use this area to provide additional information.</p>*@
<head>
    <link rel="stylesheet" href="~/Content/assets/css/about.css">
</head>




<section class="inner-section single-banner" style="background: url(/Content/assets/images/about/about-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>About Us</h2>
    </div>
</section>

<section class="inner-section about-company">
    <div class="container">
        <div class="row align-items-center">

            <div class="about-content">

                <h4 style="font-style:italic;">
                    For low-income families in Canada, putting healthy, nutritional food on the dinner table isn't always an option.
                    According to new study by Statistics Canada, more than a million Canadians are unable to get the healthy food they need because they can't afford it.
                </h4>
                <div class="green_underline small expand" style="height:20px; background:url(/Content/assets/images/about/green_underline_small.png) no-repeat center "></div>
            </div>
            <br />
            <div class="col-lg-6" style="margin:50px 0px 0px 0px;">
                <ul class="about-list">
                    <li>
                        <h3>Why FreeFeeds.com?</h3>
                        <p>We believe that everyone deserves their share of food. Our goal is to provide food to the needy and eradicate the world hunger and at the same time reduce food waste and save the environment and humanity from the hazardous FOOD WASTE. Stopping climate change and protecting the environment are among the greatest challenges of our time, and food waste is a major contributor to both of these issues. </p><br />
                        <p>Do you know that when food ends up in a landfill, it creates methane, a greenhouse gas 25 times more potent than carbon dioxide. In fact, if global food waste were measured as a country, it would be the world’s third worst emitter of greenhouse gases. To reduce the effect of global warming through food waste to an extent and also to reduce hunger across the globe we have come up with FreeFeeds.com.</p>
                        <br />
                        <h3>Our Mission</h3>
                        <p>Our goal is to provide food to the needy and eradicate the world hunger and at the same time reduce food waste and save the environment and humanity from the hazardous FOOD WASTE. We are helping people to get connected to restaurants and get served with proper meal.</p>
                        <br />
                    </li>
                </ul>
            </div>
            <br />
            <div class="col-lg-6" style="margin:50px 0px 0px 0px;">
                <div class="about-img">
                    <img src="~/Content/assets/images/pickup.jpg" />



                </div>
            </div>
        </div>
    </div>
</section>



<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>What we Provide</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="intro-icon"><i class="fas fa-truck"></i></div>
                    @*<div class="choose-icon"><i class="icofont-web"></i></div>*@
                    <div class="choose-text">
                        <h4>Easy to order</h4>
                        <p>
                            With the help of our application, people can order food quckly and easliy without any resigrations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="intro-icon"><i class="fas fa-dollar-sign"></i></div>
                    <div class="choose-text">
                        <h4>Zero Cost</h4>
                        <p>
                            People do not need to pay any charges for the food they order. Restaurants provide food free of cost.
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>